fastapi[all]>=0.100.0
pydantic>=2.0.0
pydantic-settings>=2.0.0
uvicorn>=0.23.0
pytest
pandas
numpy
spacy
sentence-transformers
transformers
scikit-learn
torch --index-url https://download.pytorch.org/whl/cpu
emoji
slowapi
optimum[onnxruntime]
